$font : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$md : 920px;
$min_w : min-width;
$max_w : max-width;
$text_color:rgba(0, 0, 0, 0.643);
$primary_text_color:rgb(132, 43, 200);
$flex:flex;
$JustifyCenter:center;
$JustifyflexStart:flex-start;
$JustifyflexEnd:flex-end;
$alignCenter:center;
$flexWrap:wrap;
$flexNoWrap:nowrap;
@mixin Displayflex ($flex,$JustifyCenter,$alignCenter,$flexWrap){
  display: $flex;
  justify-content: $JustifyCenter;
  align-items: $alignCenter;
  @if($flexWrap!=0){
    flex-wrap: $flexWrap;
  }
}
@mixin breakpoints($width,$point){
    @media only screen and (#{$width}:$md) {
        @content   
    }
}
button{
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}