@import"./variables";

.footer {
    padding: 100px 100px 70px 100px;
    background-color: $bg_color3;

    & .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;

        // justify-content: center;
        // align-items: center;
        & .box1 {
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);
            & .box1_h2 {
                color: aliceblue;
                width: 100%;
                font-size: 24px;
            }

            & .btn {
                width: 100%;
                @include Displayflex($flex,$JustifyflexEnd,$alignCenter,0);
                & .button:hover {
                    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.3);
                    position: relative;
                    bottom: 3px;
                    cursor: pointer;
                    // background-color: aquamarine;

                }

                & .button {
                    font-family: $font;
                    background-color: rgba(96, 93, 186, 1);
                    color: white;
                    margin-top: 40px;
                    padding: 20px 30px;
                    border-radius: 10px;
                }
            }
        }

        & .divider {
            background-color: rgb(106, 108, 109);
            width: 100%;
            height: 0.5px;
            border-radius: 20px;
        }

        & .box2 {
            @include Displayflex($flex,$Justifyspace-between,0,0);

            gap: 30px;

            & .box2_sec1 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                // background-color: rgb(166, 228, 228);
                & .box2_sec1_icon {
                    img {
                        width: 120px;
                    }
                }

                & .box2_sec1_details {
                    p {
                        color: $bg-color;
                    }
                }

                & .box2_sec1_link {
                    display: flex;
                    gap: 20px;

                    & .link_icon {
                        font-size: 18px;
                        color: $bg-color;

                    }

                    .link_icon:hover {
                        position: relative;
                        bottom: 10px;
                    }
                }
            }

            & .box2_sec2 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                color: $bg-color;
                // background-color: aqua;

                & .box2_sec2_h3 {
                    font-size: 18px;
                    width: auto;
                }

                & .box2_sec2_p1 {
                    // width: 60%;
                    font-size: 17px;

                    p {
                        margin-bottom: 5px;
                    }

                }

                & .box2_sec2_p2 {
                    font-size: 17px;

                }
            }

            & .box2_sec3 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                color: $bg-color;

                & .box2_sec3_h3 {
                    font-size: 18px;
                    width: 100%;
                }

                & .box2_sec3_p1 {
                    font-size: 17px;

                }

                & .box2_sec3_p2 {
                    font-size: 17px;

                }

                & .box2_sec3_p3 {
                    font-size: 17px;

                }
            }

            & .box2_sec4 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                color: $bg-color;

                & .box2_sec4_h3 {
                    font-size: 18px;
                    width: auto;
                }

                & .box2_sec4_p {
                    font-size: 17px;

                }

                & .box2_sec4_search_bar {
                    height: 50px;
                    // background-color: aqua;
                    display: flex;

                    span {
                        background-color: $secondary_color;
                        width: 30%;
                        @include Displayflex($flex,$JustifyCenter,$alignCenter,0);
                        border-radius: 0px 8px 8px 0px;
                        height: 100%;
                        font-weight: bold;
                    }

                    span:hover {
                        cursor: pointer;
                    }

                    input {
                        background-color: #3A4557;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px 0px 0px 5px;
                    }
                }
            }
        }
    }
}

//.....................desktop - 1280.......................//
@include breakpoints ($max_w, $breakpoint-large) {
    .footer {
        padding: 100px 50px 70px 50px;
    }
}

//.....................tablet - 980.......................//
@include breakpoints ($max_w, $breakpoint-medium) {
    .footer {
        & .container {
            & .box1 {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & .btn {
                    justify-content: flex-start;
                }
            }

            & .box2 {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                // background-color: aquamarine;
            }
        }

    }
}

//.....................mobiles - 768.......................//
@include breakpoints ($max_w, $breakpoint-small) {
    .footer {
        & .container {
            & .box2 {
                grid-template-columns: auto;
                // background-color: aquamarine;
                justify-content: flex-start;
                gap: 50px;
            }
        }
    }
}

//.....................small-mobiles - 420.......................//
@include breakpoints ($max_w, $breakpoint-Xsmall) {
    .footer {
        padding: 100px 2    0px 70px 20px;
    }
}