@import "./variables";

.homepage {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    // height: 100vh;
    width: 100%;
    background-color: $bg-color2;

    & .bg {
        width: 40px;
        height: 40px;
        background-color: white;
        // color: white;
        position: absolute;
        top: 63%;
        right: 47%;
        z-index: 4;
    }

    & .centerbtn {
        position: absolute;
        // background-color: aquamarine;
        top: 60%;
        right: 46.5%;
        z-index: 5;

        & .playIcon {
            color: $secondary_color ;
            font-size: 80px;
        }
    }

    & .sec1 {
        padding: 100px 0px 100px 70px;
        width: 100%;
        height: 100%;

        // background-color: $bg-color2;
        & .container {
            background-color: $bg-color2;
            width: 100%;
            height: 100%;

            h4 {
                font-family: $font;
                color: rgba(52, 63, 82, 1);
                font-weight: 600-semibold;
                font-size: 55px;
                width: 80%;
                margin-bottom: 30px;

                // background-color: aqua;
                & .text {
                    color: rgba(70, 115, 217, 1);
                    font-family: IBM Plex Serif;
                    font-weight: 600-semibold;
                    font-style: italic;
                    font-size: 56px;
                    height: 1.15;
                }
            }

            p {
                color: rgba(96, 105, 123, 1);
                font-size: 30px;
                width: 80%;
            }

            .styleBtn {
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);
                width: 90%;

                & .button:hover {
                    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.3);
                    position: relative;
                    bottom: 3px;
                    cursor: pointer;
                    // background-color: aquamarine;

                }

                & .button {
                    font-family: $font;
                    background-color: rgba(96, 93, 186, 1);
                    color: white;
                    margin-top: 40px;
                    padding: 20px 40px;
                    border-radius: 10px;
                    // transition-duration: 2s;


                }
            }

            img:first-child {
                width: 50px;
                position: relative;
                top: 32px;
                right: 35px;
            }

            img:last-child {
                // background-color: aqua;
                // position: relative;
                width: 170px;
                // float: right;
            }
        }

    }

    & .sec2 {
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            scale: 1.1;
            object-fit: cover;
            transition: 0.9s ease;
        }

        img:hover {
            transform: scale(1.4);
        }
    }
}

@include breakpoints ($max_w, $breakpoint-large) {
    .homepage {
        & .sec1 {
            padding: 100px 0px 100px 70px;

        }
    }

}

@include breakpoints ($max_w, $breakpoint-medium) {
    .homepage {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 100px;

        & .bg {
            display: none;
        }

        & .centerbtn {
            display: none;
        }

        & .sec1 {
            padding: 120px 30px 120px 30px;
            display: flex;
            height: 100%;
            width: 100vw;

            & .container {
                // background-color: aqua;
                overflow: hidden;

                img {
                    display: none;
                }

            }
        }

        & .sec2 {
            display: flex;
            height: 100%;
            width: 100%;
            background-color: burlywood;

            img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@include breakpoints ($max_w, $breakpoint-Xsmall) {
    .homepage {

        & .sec1 {
            padding: 120px 10px 120px 10px;

            // background-color: chocolate;
            & .container {
                h4 {
                    font-family: $font;
                    color: $text_color;
                    font-weight: 600-semibold;
                    font-size: 45px;
                    width: 80%;
                    margin-bottom: 30px;

                    // background-color: aqua;
                    & .text {
                        color: $primary_text_color;
                        font-family: IBM Plex Serif;
                        font-weight: 600-semibold;
                        font-style: italic;
                        font-size: 45px;
                        height: 1.15;
                    }
                }

                p {
                    @include Displayflex($flex,$JustifyCenter,$alignCenter,0);

                    color: rgba(96, 105, 123, 1);
                    font-size: 20px;
                    width: 80%;
                }
            }
        }
    }


}