@import "./variables";

.navbar {
    width: 100%;
        // background-color: rgb(255, 255, 255);
    & .container {
        padding: 0px 70px;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: white;

        & .nevManuFlex {
            padding: 25px 50px;
            // background-color: aquamarine;
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);

            & .logo {
                a:hover{
                    cursor: pointer;
                }

                img {
                    // background-color: aquamarine;
                    width: 100px;
                    height: 50px;
                    display: inline-block;
                }

                & .burgerIcone {
                    font-size: 26px;

                    display: none;
                }
            }
            .button:hover{
                box-shadow: 4px 4px 10px 1px  rgba(0, 0, 0 , 0.3);
                        position: relative;
                        bottom: 2px;
                        cursor: pointer;
            }
            & .button {
                background-color: rgba(96, 93, 186, 1);
                color: white;
                padding: 13px 20px;
                border-radius: 10px;
            }

            & .menu {
                ul {
                    list-style: none;
                    @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);
                    row-gap: 50px;
                    column-gap: 50px;
                    li:hover{
                        color: rgba(70, 115, 217, 1);
                        cursor: pointer;
                    }
                }

            }
        }
    }
}

//.................desktop....................//
@include breakpoints ($max_w, $breakpoint-large) {
    .navbar {

        // display: none;
        & .container {
            padding: 0px;
        }
    }
}

//.................tablet 0r mobiles....................//

@include breakpoints ($max_w, $breakpoint-medium) {
    .navbar {

        // display: none;
        & .container {
            // background-color: burlywood;
            padding: 0px;
            & .nevManuFlex {
                padding: 25px 10px;
                display: flex;
                flex-direction: column;

                .logo {
                    @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);
                    width: 100%;
                    & .burgerIcone {
                        display: block;
                    }
                }
                .menu {
                    display: none;
                }
                .menu2{
                    @include Displayflex($flex,$JustifyCenter,0,0);

                    ul{
                        @include Displayflex($flex,$JustifyCenter,$alignCenter,0);
                        margin-top: 26px;
                        width: 80%;
                        flex-direction: column;
                        position: absolute;
                        color: aliceblue;
                        background-color: rgba(80, 80, 80,0.9);
                    }
                }
                .button {
                    display: none;
                }
            }
        }
    }
}