@import "./variables";
.process {
    background-color: $bg-color;
}
.processpage {
    margin: 0px 100px;
    padding: 144px 0px;
    background-color: $bg-color;
    @include Displayflex($flex,$JustifyCenter,$alignCenter,0);
    flex-direction: column;

    & .sec_headline {
        color: $text_color2;
        width: auto;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // background-color: aqua;
    }

    & .sec_h2 {
        font-family: $font;
        color: $text_color;
        // background-color: aqua;
        width: 50%;
        font-size: 27px;
        font-weight: 600-semibold;

        h2 {
            // background-color: burlywood;
            text-align: center;
            overflow: hidden;
            margin-bottom: 50px;

            span {
                color: $primary_text_color;
                font-style: italic;
                font-family: IBM Plex Serif;
                font-weight: 600-semibold;

            }
        }
    }
    & .sec_h2 {
        font-family: $font;
        color: $text_color;
        // background-color: aqua;
        width: 50%;
        font-size: 27px;
        font-weight: 600-semibold;

        h2 {
            // background-color: burlywood;
            text-align: center;
            overflow: hidden;
            margin-bottom: 50px;

            span {
                color: $primary_text_color;
                font-style: italic;
                font-family: IBM Plex Serif;
                font-weight: 600-semibold;

            }
        }
    }

    & .box_1 {
        width: 100%;
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        & .card1 {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
            width: 360px;
            height: 150px;
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);

            padding: 20px;
            column-gap: 20px;

            & .card1_no {
                // background-color: aqua;
                height: 100%;
                width: 20%;
                color: $primary_text_color;
                font-weight: 900;
                font-size: 40px;

            }

            & .card1_p_text {
                // background-color: blue;
                height: 100%;
                width: 100%;

                h3 {
                    // color: red;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }

                p {
                    font-size: large;
                    color: $text_color;
                }

            }
        }

        & .card2 {
            // background-color: rgb(255, 255, 255);
            // box-shadow: 2px 2px 10px 3px rgba(0, 0, 0,0.1);
            width: 360px;
            height: 150px;
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);
            padding: 20px;
            column-gap: 20px;
            transition-duration: 0.4s;
            transition-property: transform;

            & .card2_no {
                // background-color: aqua;
                height: 100%;
                width: 20%;
                color: $primary_text_color;
                font-weight: 900;
                font-size: 40px;

            }

            & .card2_p_text {
                // background-color: blue;
                height: 100%;
                width: 100%;

                h3 {
                    // color: red;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }

                p {
                    font-size: large;
                    color: $text_color;
                }

            }

        }

        & .card2:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
            transform: scale(1.2);
        }

        & .card3 {

            width: 360px;
            height: 150px;
            @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);

            padding: 20px;
            column-gap: 20px;

            & .card3_no {
                // background-color: aqua;
                height: 100%;
                width: 20%;
                color: $primary_text_color;
                font-weight: 900;
                font-size: 40px;

            }

            & .card3_p_text {
                // background-color: blue;
                height: 100%;
                width: 100%;

                h3 {
                    // color: red;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }

                p {
                    font-size: large;
                    color: $text_color;
                }

            }
        }

        & .card3:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
        }
    }

    & .box_2 {
        margin-top: 60px;
        // background-color: aquamarine;
        width: 100%;
        height: auto;
        @include Displayflex($flex,$Justifyspace-between,$alignCenter,0);

        gap: 50px;

        & .box_img {
            // background-color: blueviolet;
            height: 100%;
            width: 100%;
            // overflow: hidden;
            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease;
            }
            img:hover {
                border-radius: 20px;

                transform: scale(1.1);
            }
        }

        & .text_box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            // background-color: chartreuse;
            h3 {
                margin-bottom: 15px;
                color: $text_color;
                font-size: 25px;
            }

            p {
                margin-bottom: 25px;
                color: $text_color2;
                font-size: 18px;
            }

            & .box_list {
                // margin-bottom: 30px;
                padding-left: 20px;

                & .list1 {
                    display: list-item;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                & .list2 {
                    display: list-item;

                    font-size: 18px;
                    margin-bottom: 10px;
                }

                & .list3 {
                    display: list-item;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            & .btn_div {
                display: flex;

                & .button {
                    font-family: $font;
                    background-color: rgba(96, 93, 186, 1);
                    color: white;
                    margin-top: 40px;
                    padding: 20px 40px;
                    border-radius: 10px;
                }

                & .button:hover {
                    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.3);
                    position: relative;
                    bottom: 3px;
                    cursor: pointer;
                    // background-color: aquamarine;

                }
            }

        }
    }
}

//.....................desktop less than 1280.......................//
@include breakpoints ($max_w, $breakpoint-large) {
    .processpage {
        & .sec_h2 {
            width: 70%;
        }

        & .box_1 {
            @include Displayflex($flex,$JustifyCenter,$alignCenter,0);
            flex-direction: column;
            row-gap: 20px;

            // column-gap: 20px;
            & .card1 {
                // background-color: chartreuse;
                width: 70%;
                height: 150px;
            }

            & .card2 {
                // background-color: rgb(0, 13, 255);
                width: 70%;
                height: 150px;
            }

            & .card3 {
                // background-color: rgb(159, 31, 159);
                width: 70%;
                height: 150px;
            }
        }


    }
}

//.....................tablet less than 980.......................//
@include breakpoints ($max_w, $breakpoint-medium) {
    .processpage {

        & .box_2 {
            display: flex;
            flex-direction: column;
        }


    }
}

//.....................mobiles less than 768.......................//
@include breakpoints ($max_w, $breakpoint-small) {
    .processpage {
        margin: 20px;

        & .sec_h2 {
            width: 80%;
        }

        & .box_1 {

            // display: flex;
            // justify-content: center;
            & .card1 {
                height: auto;
            }

            & .card2 {
                height: auto;
            }

            & .card3 {
                height: auto;
            }
        }

    }
}

//.....................mobiles less than 420.......................//
@include breakpoints ($max_w, $breakpoint-Xsmall) {
    .processpage {
        margin: 10px;

        & .sec_h2 {
            width: 100%;
        }

        & .box_1 {
            padding: 30px;
            @include Displayflex($flex,$JustifyCenter,$alignCenter,0);
            flex-direction: column;
            row-gap: 20px;

            // column-gap: 20px;
            & .card1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                // background-color: chartreuse;
                width: 100%;
                height: 300px;
                column-gap: 0px;
                row-gap: 0px;

                & .card1_no {
                    height: auto;
                    margin-bottom: 20px;
                    // background-color: brown;
                }

                & .card1_p_text {
                    // background-color: blue;
                    height: 100%;
                    width: 100%;
    
                    h3 {
                        // color: red;
                        margin-bottom: 15px;
                        margin-top: 10px;
                    }
    
                    p {
                        font-size: 20px;
                        color: $text_color;
                    }
    
                }

            }

            & .card2 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                // background-color: chartreuse;
                width: 100%;
                height: 300px;
                column-gap: 0px;
                row-gap: 0px;
                & .card2_no {
                    height: auto;
                    margin-bottom: 20px;
                    // background-color: brown;
                }
                & .card2_p_text {
                    // background-color: blue;
                    height: 100%;
                    width: 100%;
    
                    h3 {
                        // color: red;
                        margin-bottom: 15px;
                        margin-top: 10px;
                    }
    
                    p {
                        font-size: 20px;
                        color: $text_color;
                    }
    
                }
            }

            & .card3 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                // background-color: chartreuse;
                width: 100%;
                height: 300px;
                column-gap: 0px;
                row-gap: 0px;
                & .card3_no {
                    height: auto;
                    margin-bottom: 20px;
                    // background-color: brown;
                }
                & .card3_p_text {
                    // background-color: blue;
                    height: 100%;
                    width: 100%;
    
                    h3 {
                        // color: red;
                        margin-bottom: 15px;
                        margin-top: 10px;
                    }
    
                    p {
                        font-size: 20px;
                        color: $text_color;
                    }
    
                }
            }
        }
    }
}