
.Container{
    background-color: yellow;
    color: aqua;
    padding: 55px;
}
.nav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(227, 238, 238);
}
.nav_ul{
    /* background: #27ea92; */
    display: flex;
    list-style: none;
    /* margin-right: 70px; */

}
.nav_li{
    /* background: #e99393; */
    font-size: large;
    margin-left : 50px;
    margin-right: 20px;
}
.card-page{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 5px;

}
.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}
.card-image{
    width: 100%;
    max-width: 300px;
    max-height: 400px;
    display: block;
    object-fit: cover;
}
.cart-items{
    margin: 20px auto;
    width: 80%;
    background-color: orange;
    border-radius: 5px;
}
.cart-item-list{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}
.cart-item-image{
    width: 100%;
    max-width: 40px;
    max-height: 30px;
    display: block;
    object-fit: cover;
}